.h3{
    font-size: large;
    text-decoration: underline;
    background-color: white;
}

.shoppingCartLayout{
    border-style: solid;
    padding: 30px 20px;
}



.horizontalLayout{
    background-color: white;

}

.shoppingCartLayout{
    background-color: white;
}

.verticalLayout{
    border:auto ;
    padding: 20px 30px;
    background-color: white;

}

.button{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: black;
    color: whitesmoke;
}

.button:hover{
    background-color: whitesmoke;
    color: black;
}

aside
{
    float: right;
}
